
body {
    font-family: sans-serif;
}

.navbar {
    background-color: white;
}

.quem-somos {
    background-color: lightgray;
    color: rgb(0, 74, 173)    
}
.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}
h3{
    padding-top: 10px;
    padding-bottom: 10px;
}

.parceiros {
    background-color: lightgray;
    color: rgb(0, 74, 173);
}

.nossasviagens {
    background-color: white;
    color: rgb(0, 74, 173);
}
.bgfooter {
    background-color: white;
    color: black;
}